body{
	background: #E3F0FE;
}

h1{
	font-size: 5em;
	margin: 0 20px;
	padding: 20px;
}

.input-texto{
	display: block;
	width: 40%;
	margin: 0 0 20px;
	padding: 10px 25px;
}

.botones{
	margin: 0 20px;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
}