/*
body{ height:100vh; margin:0; }

header{ min-height:50px;}
footer{ min-height:50px;}
*/

body{
	display: flex;
	flex-direction: column;
	background: #E3F0FE;
}

/*
header{
	background: white;
}
*/

h1{
	font-size: 5em;
	margin: 0 20px;
	padding: 20px;
	color: royalblue;
}

.texto{
	text-align: center;
}

.input-texto{
	position: absolute;
	width: 577px;
	height: 300px;
	left: 240px;
	top: 168px;

	color: royalblue;
	border: none;
	background: #E3F0FE;
	font-size: 32px;
	line-height: 150%;
}

::placeholder{
	color: royalblue;
	text-align: center;
}

.desencriptado{
	position: absolute;
	width: 400px;
	height: 900px;
	left: 1000px;
	top: 40px;

	text-align: center;
	background: #FFFFFF;
	border-radius: 32px;
}

.texto-desencriptado{
	position: absolute;
	width: 336px;
	height: 740px;
	left: 1032px;
	top: 72px;

	padding: 20px;
	font-size: 24px;
	line-height: 150%;
	border-color: white;
	border-width: 10px;
	border-radius: 20px;
	font-size: 24px;
	line-height: 150%;
}

.advertencia{
	display: flex;
	flex-direction: row;
	align-items: center;

	position: absolute;
	width: 300px;
	height: 18px;
	left: 240px;
	top: 851px;

}

.opciones{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	grid-gap: 24px;

	position: absolute;
	width: 680px;
	height: 67px;
	left: 240px;
	top: 885px;

}

.boton-encriptar{
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	width: 328px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 15px;
	border: none;
	color: white;
	background: royalblue;

	flex: none;
	order: 0;
	flex-grow: 0;
}

.boton-desencriptar{
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	width: 328px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 15px;
	background: lightgray;

	flex: none;
	order: 1;
	flex-grow: 0;
}

.boton-copiar{
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	margin-left: 130px;
	width: 328px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 15px;
	background: white;

	flex: none;
	order: 2;
	flex-grow: 0;
}

.boton-encriptar:hover{
	transform: scale(1.1);
}

/*
footer{
	margin-top: auto;
	background: black;
}
*/
/*
@media screen and (max-width: 640px){
	.texto-desencriptado{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 688px;
		height: 133px;
		left: 220px;
		top: 1001px;
	}
	.boton-copiar{
		width: 576px;
		height: 19px;
		flex: none;
		order: 0;
		flex-grow: 1;
	}
	.opciones{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 688px;
		height: 67px;
		left: 40px;
		top: 870px;
	}
	.texto, .opciones, .texto-desencriptado{
		position: absolute;
	}
}
*/
